@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,500;0,500;1,400&family=Playfair+Display:ital,wght@0,500,700;1,500&display=swap');

*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-heading:'Playfair Display', serif;
    --font-body:'Montserrat', sans-serif;
    --secondary-color:#F2994A;
    --primary-color:#222222;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}
img{
    width: 100%;
}


/* BANNER STYLES */
.banner .banner__title{
    font-family: var(--font-heading);
    font-size: 2em;
    font-weight: 700;
}
.banner .banner__text{
    font-size: 1em;
    font-family: var(--font-body);
    font-style: italic;
    font-weight: 500;
    padding: 1rem;
}
.banner .banner__image{
    border-radius: 15px;
}

/* INGREDIENTS SECTION */
.ingredients{
    padding: 2rem 0;
}
.ingrid__icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
}
.col-1{
    grid-column: 1 / -1;
}

.icon-col{
    display: flex;
    align-items: center;
    padding: .2rem 0;
}
.icon-col div{
    margin: 0 .15rem;
}
.grey{
    font-size: .85em;
    font-weight:600;
    color: #aaa5a5;
    font-family: var(--font-body);
}
.grey span{
    color:var(--primary-color);
    font-size: .8em;
}
.fa-utensils{
    color: var(--secondary-color);
}
span.orange{
   color: var(--secondary-color);
}

/* ingredient descriptions */
.ingred__desc{
    margin-top: 1.5rem;
}
.ingred__title{
    font-family: var(--font-heading);
    font-size: 1.75em;
    margin-bottom: 1rem;
}
.ingre_subtitle{
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: italic;
    font-size: 1.25em;
    margin:.75rem;
}
.ingred__item{
  display: flex;
  align-items: flex-start;
  padding: .5rem;
}
.checkbox{
    margin-right: 1rem;
}
.ingred__item input{
    padding: 1rem;
    width: 21px;
    height: 21px;
}
.ingred__item .text{
    font-size: 1.2em;
    font-family: var(--font-body);
    line-height: 1.2;
}

/* Instructions */
.ingred_subtitle{
     font-family: var(--font-heading);
    font-size: 1.75em;
    margin: .75rem 0;
}
 .instruct_order{
    align-self: flex-start;
     margin-right: 1rem;
     
 }
 .instruct_order p{
    border-radius: 5px;
     color: #fff;
    padding:.75rem;
     font-size: 1.2em;
     font-weight: 700;
     font-family: var(--font-heading);
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background: var(--secondary-color);
 }
 .instruct_details{
     font-size: 1.2em;
    font-family: var(--font-body);
    line-height: 1.2;
 }