@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400,500;0,500;1,400&family=Playfair+Display:ital,wght@0,500,700;1,500&display=swap');

*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --font-heading:'Playfair Display', serif;
    --font-body:'Montserrat', sans-serif;
    --secondary-color:#F2994A;
    --primary-color:#222222;
}
body{
    background: #FAFAFA;
}
.container{
    max-width:960px;
    margin: 0 auto;
    padding: 1rem;
}
img{
    width: 100%;
}


/* BANNER STYLES */

.banner_area .banner__title{
    font-family: var(--font-heading);
    font-size: 1.75em;
    font-weight: 700;
}
.banner_area .banner__text{
    max-width: 592px;
    font-size: 1em;
    font-family: var(--font-body);
    font-style: italic;
    font-weight: 500;
    padding: 1rem;
    line-height: 1.2;
}
.banner__image{
    height: 300px;
    border-radius: 5px;
}

@media(min-width:600px){

}

/* INGREDIENTS SECTION */
.ingredients_area .container{
    display: flex;
    flex-direction: column-reverse;
}
.ingrid__icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .75rem;
}
.col-1{
    grid-column: 1 / -1;
}

.icon-col{
    display: flex;
    align-items: center;
    padding: .2rem 0;
}
.icon-col div{
    margin: 0 .15rem;
}
.grey{
    font-size: .85em;
    font-weight:600;
    color: #aaa5a5;
    font-family: var(--font-body);
}
.grey span{
    color:var(--primary-color);
    font-size: .8em;
}
.fa-utensils{
    color: var(--secondary-color);
}
span.orange{
   color: var(--secondary-color);
}

/* ingredient descriptions */
.ingred_cols{
    display: grid;
}
.large-icons{
    order: 1;
}
.ingred__desc{
    margin-top: 1.5rem;
}
.ingred__title{
    font-family: var(--font-heading);
    font-size: 1.75em;
    margin-bottom: 1rem;
}
.ingred_subtitle{
    font-family: var(--font-heading);
    font-weight: 400;
    font-style: italic;
    font-size: 1.5em;
    margin:.75rem;
}
.ingred__item{
  display: flex;
  align-items: flex-start;
  padding: .5rem;
}
.checkbox{
    margin-right: 1rem;
}
.ingred__item input{
    padding: 1rem;
    width: 21px;
    height: 21px;
}
.ingred__item .text{
    font-size: 1.2em;
    font-family: var(--font-body);
    line-height: 1.2;
}

@media(min-width:600px){
  .ingredients_area .container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
   
}
.column-1{
    padding-left: 2rem;
    padding-right: 2rem;
     font-size: .85rem;
} 
.instruct_details{
    font-size: .85rem; 
}
.column-2{
    padding-top: 1.75rem;
}
.column-2 .ingrid__icons{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 250px;
 padding: .5rem;
 background-color: white;
 border-radius: 5px;
 box-shadow: 0px 0px 5px 2px #bdbdbd;;
}
}

/* Instructions */
.ingred_subtitle_2{
     font-family: var(--font-heading);
    font-size: 1.75em;
    margin: .75rem 0;
}
 .instruct_order{
    align-self: flex-start;
     margin-right: 1rem;
     
 }
 .instruct_order p{
    border-radius: 5px;
     color: #fff;
    padding:.75rem;
     font-size: 1.2em;
     font-weight: 700;
     font-family: var(--font-heading);
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    background: var(--secondary-color);
 }
 .instruct_details{
     font-size: 1.2em;
    font-family: var(--font-body);
    line-height: 1.2;
 }

 .footer{
     text-align: center;
     font-size: 1em;
     font: var(--font-body);
     color: #aaa5a5;
 }